@page "/Home"
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<h3>Welcome, @Current_Account._currentAccount._name</h3>
<p>Your Current Balance: @Current_Account._currentAccount._balance</p>


@if (Current_Account._currentAccount._transaction != null && Current_Account._currentAccount._transaction.Count > 0)
{
    <table border="1">
        <tr>
            <td> Amount</td>
            <td> Date</td>
            <td> Inflow</td>
            <td> OutFlow</td>
            <td> Debt</td>
            <td> Paid/Used</td>
        </tr>
        @foreach (var transaction in Current_Account._currentAccount._transaction)
        {
            <tr>
                <td>@transaction._balance</td>
                <td>@transaction._date</td>
                @if(transaction._inflowType != option.Cash_Inflow.Choose)
                {
                    <td>@transaction._inflowType</td>
                    <td>--</td>
                    <td>--</td>

                    TotalInFlow(transaction._balance);
                }
                else if (transaction._outflowType != option.Cash_Outflow.choose)
                {
                    <td>--</td>
                    <td>@transaction._outflowType</td>
                    <td>--</td>

                    TotalOutFlow(transaction._balance);
                } else
                {
                    <td>--</td>
                    <td>--</td>
                    <td>@transaction._debt</td>

                    TotalDebt(@transaction._balance, transaction._used);
                }
                <td>@transaction._used</td>
            </tr>
            Tran();
        }
        <tr>
            <td></td>
            <td></td>
            <td>@totalInflow</td>
            <td>@totalOutflow</td>
            <td>@totalDebt</td>
            <td>Total Transaction: @trans</td>
        </tr>
    </table>
}
else
{
    <p>No transactions available.</p>
}

@code{
    int totalInflow;
    int totalOutflow;
    int totalDebt;
    int trans;

    public void TotalInFlow(int balance)
    {
        totalInflow += balance;
    }

    public void TotalOutFlow(int balance)
    {
        totalOutflow += balance;
    }

    public void TotalDebt(int balance, int paid)
    {
        totalDebt += balance - paid;
    }

    public void Tran()
    {
        trans = totalInflow + totalDebt - totalOutflow;
    }
}